<script id="tmpl-SalesForceScreen" type="text/html">
  <div class="SalesForceScreen">
    <div class="SalesForceScreen-top">
      <ul class="nav nav-tabs">
        <li class="active menu" data-nav="contacts"><a href="#">Contacts</a></li>
      </ul>
    </div>
    <div class="SalesForceScreen-content">
      
    </div>
  </div>
</script>