<script id="tmpl-Top" type="text/html">
	<div class="Top">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <a class="navbar-brand pull-right" href="#">SaleForce Demo</a>
            <ul class="nav navbar-nav">
                <li data-nav="contacts" class="menu"><a href="#">Contacts</a></li>
                <li data-nav="oauth" class="menu pull-right"><a href="#">OAuth</a></li>
            </ul>
        </div>
	</div>
</script>